@font-face {
  src: url("../../../../public/fonts/a옛날사진관4.ttf");
  font-family: "JB";
  /* src: url("../../../../public/fonts/a옛날사진관2.ttf")
  src: url("../../../../public/fonts/a옛날사진관3.ttf")
  src: url("../../../../public/fonts/a옛날사진관4.ttf") */
  /* src: url("../../../../public/fonts/a옛날사진관5.ttf");
  font-family: "JB5"; */
}

@font-face {
  src: url("../../../../public/fonts/a옛날사진관5.ttf");
  font-family: "JB5";
}

#root {
  width: 100%;
  height: 100%;
  font-family: "JB";
}

body {
  min-height: 100vh;
  display: 100vh;
  display: flex;
  font-weight: 400;
  font-family: "JB";
}

/* .home-logo {
  position: fixed;
  top: 20%;
} */

/* .homeImg {
  width: 100%;
  height: 100%;
} */

.home-container {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  height: 70%;
  top: 20%;
}

/* card-1 */
.home-card-1 {
  width: 90%;
  height: 40%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 14px 14px 14px rgba(34, 35, 58, 0.5);
  animation: changeTop 2.5s forwards;
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-content-1 {
  display: flex;
  width: 95%;
  margin-top: 5%;
}

@keyframes changeTop {
  0% {
    left: -150em;
    top: 5%;
  }
  50% {
    left: 5%;
    top: 5%;
  }

  100% {
    left: 5%;
    top: 5%;
    opacity: 1;
  }
}

/* card-2 */
.home-card-2 {
  width: 90%;
  height: 40%;
  background-color: #ffffff;
  border-radius: 15px;
  box-shadow: 14px 14px 14px rgba(34, 35, 58, 0.5);
  animation: changeBottom 2.5s forwards;
  opacity: 0;
  position: fixed;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@keyframes changeBottom {
  0% {
    right: -150em;
    bottom: 5%;
    /* opacity: -1; */
  }
  50% {
    right: 5%;
    bottom: 5%;
  }

  100% {
    right: 5%;
    bottom: 5%;
    opacity: 1;
  }
}

.login-content-2 {
  display: flex;
  width: 95%;
  margin-top: 5%;
}

.openModalBtn {
  width: 100%;
  border-radius: 2px;
  border: 1px solid #d32f2f;
  color: #d32f2f;
}

.openModalBtn:hover {
  background-color: #fdf7f7;
  color: #d32f2f;
}

/* .jbLogo {
  display: flex;
  justify-content: center;
} */
